/* När du använder * { ändrar du grunden av hela webbsidans element och taggar. Bra om man vill att allt ska ha en särskilt typsnitt e.dyl. */

    * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
    }
    
    /*Använd dessa .wrapper för att skapa en sida med flera olika div-rutor. Du får självklart experimentera här */
    
    .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        align-items: stretch;
        height: 100vh;
    }
    
    .wrapper #row1 {
        background-color: rgb(0, 225, 236);
        padding: 10px;
    }
    
    .wrapper #row2 {
        display: flex;
        background-color: rgb(0, 255, 115);
        flex: 1 1 auto;
        height: 100%;
        
    }
    
    .wrapper #row2 #col1 {
        border: rgb(0, 26, 255) solid 1px;
        background-color: rgb(255, 0, 0);
        flex: 0 0 0px;
        padding: 10px;
        position: relative;
    }
    
    .wrapper #row2 #col2 {
        border: rgb(255, 242, 0) solid 10px;
        background-color: rgb(0, 4, 255);
        flex: 1 1 auto;
        padding: 10px;
        position: absolute;
    }
    
    .wrapper #row2 #col3 {
        border: rgb(92, 24, 24) solid 10px;
        background-color: rgb(255, 0, 208);
        flex: 0 0 240px;
        padding: 10px;
        position: absolute;
    }
    
    .menuitem { 
        width: 100%;
        height: 30px;
        background-color: rgb(0, 0, 0);
        border: rgb(255, 234, 0) dotted 1px;
        color: rgb(255, 255, 0);
        text-align: right;
        margin: 5px;
        user-select: none;    
    }
    
    .menuselect { 
        width: 100%;
        height: 30px;
        vertical-align: middle;
        background-color: rgb(0, 89, 255);
        color: rgb(255, 255, 0);
        text-align: right;
        margin: 5px;
        user-select: none;
    }
    
    .menuitem:hover {
        width: 100%;
        height: 30px;
        background-color: rgb(255, 255, 0);
        border: rgb(0, 42, 255) solid 1px;
        vertical-align: middle;
        margin: 5px;
        font-weight: bold;
        transition: .1s ease-in;
        transform: translateX(5%);
    }
    
    .din_mamma {
        float: right;
        width: 200px;
        height: 1000px;
        object-fit:fill;
        padding: 15px;
        border-radius: 25px;
    }

    .förre {
        float: left;
        width: 100px;
        height: 100px;

    }
 
    .abbore {
        float:left
        
    

    }